@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/Proxima-Nova-Regular.otf") format("truetype"); /* Regular */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/Proxima-Nova-Semibold.otf") format("truetype"); /* Semibold */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/Proxima-Nova-Thin-Italic.otf") format("truetype"); /* Thin Italic */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/Proxima-Nova-Semibold-Italic.otf") format("truetype"); /* Semibold Italic */
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/Proxima-Nova-Thin.otf") format("truetype"); /* Thin */
  font-weight: 300;
  font-style: normal;
}

/* Variables globales */
:root {
  font-size: 16px;
  --background: #f7f7f7;
  --foreground: #2c3e50;
  --h1-color: #2c3e50;
  --paragraph: #34495e;
  --button: #f39c12;
  --button-text: #ffffff;
  --border: #bdc3c7;
  --tertiary: #ecf0f1;
  --danger: #e74c3c;
  --popover: #ffffff;
  --popover-foreground: #2c3e50;
  --primary: #f39c12;
  --primary-foreground: #ffffff;
  --secondary: #ecf0f1;
  --secondary-foreground: #2c3e50;
  --muted: #dcdfe1;
  --muted-foreground: #7f8c8d;
  --accent: #ecf0f1;
  --accent-foreground: #2c3e50;
  --destructive: #e74c3c;
  --destructive-foreground: #ffffff;
  --card: #ffffff;
  --card-foreground: #2c3e50;
  --input-background: var(
    --background
  ); /* Fondo del input usando la variable de root */
  --input-border: var(
    --border
  ); /* Borde del input usando la variable de root */
  --input-text: var(
    --foreground
  ); /* Texto en el input usando la variable de root */
  --input-placeholder: var(
    --muted-foreground
  ); /* Placeholder usando la variable de root */
}

/* Modo oscuro */
.dark {
  --background: #272343;
  --foreground: #fffffe;
  --h1-color: #fffffe;
  --paragraph: #bae8e8;
  --button: #ffd803;
  --button-text: #272343;
  --border: #ffd803;
  --tertiary: #2d334a;
  --danger: #e74c3c;
  --popover: #272343;
  --popover-foreground: #fffffe;
  --primary: #ffd803;
  --primary-foreground: #272343;
  --secondary: #2d334a;
  --secondary-foreground: #fffffe;
  --muted: #374151;
  --muted-foreground: #9ca3af;
  --accent: #2d334a;
  --accent-foreground: #fffffe;
  --destructive: #e74c3c;
  --destructive-foreground: #fffffe;
  --card: #272343;
  --card-foreground: #fffffe;
}

/* Aplicar Regular como predeterminado */
body {
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  font-weight: 400; /* Regular */
  font-style: normal;
}

@layer base {
  :root {
    --background: #fffffe;
    --h1-color: #272343;
    --paragraph: #2d334a;
    --button: #ffd803;
    --button-text: #272343;
    --border: #272343;
    --tertiary: #bae8e8;
  }

  /* Modos claro/oscuro */
  .dark {
    --background: #272343;
    --h1-color: #fffffe;
    --paragraph: #bae8e8;
    --button: #ffd803;
    --button-text: #272343;
    --border: #ffd803;
    --tertiary: #2d334a;
  }
}

/* Loader */

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: conic-gradient(
    #25b09b 25%,
    #f03355 0 50%,
    #514b82 0 75%,
    #ffa516 0
  );
  animation: l22 2s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 15%;
  border-radius: 50%;
  background: inherit;
  animation: inherit;
}

.loader::after {
  margin: 25%;
  animation-duration: 3s;
}

@keyframes l22 {
  100% {
    transform: rotate(1turn);
  }
}
